body {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
header {
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
}
#boxone{
    border: 3px solid black;
}
#boxtwo{
    border: 3px solid black;
}
#boxthree{
    border: 3px solid black;
}