body {
    background-color: #236b8e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
header {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 20px;
}
.box {
    background-color: #3299CC;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 5px 8px 15px rgb(124, 119, 120);
}
.cbox {
    font-size: .80em;
}
.hexbox {
    width: 50px;
}
#boxone{
    margin: 0px 5px 0px 10px;    
}
#boxtwo{
    margin: 0px 5px 0px 5px;
}
#boxthree{
    margin: 0px 10px 0px 5px;
}